{
  "$schema": "https://opencode.ai/config.json",
  "instructions": [
    "instructions/coding-style.md",
    "instructions/documentation.md"
  ],
  "mcp": {
    "context7": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@upstash/context7-mcp",
        "--api-key",
        "{env:CONTEXT7_API_KEY}"
      ],
      "enabled": true
    }
  },
  "permission": {
    "skill": {
      "*": "allow"
    }
  },
  "experimental": {
    "disable_paste_summary": true
  }
}
